/A.class
/Animals.class
/Cap3.class
/Cap5.class
/Enum.class
/Propagate.class
/cap7.class
/ex13$teste.class
/ex13.class
/ex14_1.class
/ex14_2.class
/ex5.class
/ex6.class
/karenException.class
/testeEnum$B.class
/testeEnum.class
